
.interacao{
    position: absolute;
    width: 1280px;
    height: auto;
    min-height: 720px;
    text-align: center;
    background: #fff; 
    left: 0;
    top: 0; 
    z-index: 100;
}

.interacao > .grafico{
    position: relative;  
    width: 100%;
    height: 100%;
    text-align: left;

}
    .interacao > .grafico > img{
        width: 1024px;
        height: auto;
    }

.close{
    position: absolute;
    width: auto;
    height: auto; 
    right: 24%;
    top: 1%;
    z-index: 56;
    cursor: pointer;
}   
.start{
    position: absolute;
    width: auto;
    height: auto;  
    top: 1%;
    right: 1%;
    z-index: 50;
    cursor: pointer;
}