
.instrumentos{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff; 
    top: 0;
    left: 0;
    background: url('../data/imgs/layout.png');
    background-size: 100% 100%;
}

.instrumentos > div{
    cursor: pointer; 
    overflow: hidden;
}
.instrumentos > .desc{
    position: absolute;
    top: 5%;
    left: 5%;
    background: #878787;
    opacity: 0.5;
    border-radius: 12px; 
    color: #fff;
    padding: 1em;
        -webkit-border-radius: 12px; 
        -moz-border-radius: 12px;   
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
}
    .instrumentos > .desc > p{
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }
.sprite{ 
    width: auto;
    height: auto;
    position: absolute; 
    padding: 1%;
}
.sprite:hover{ z-index: 60; }
.sprite > img{
    width: 100%;
    height: auto;
 }
.instrumentos #violino > .sprite{ 
    top: 19%;
    left: 7%;
    transition: all .2s ease-in-out;
    transform: scale(0.11) rotate(-24deg);
 }
    .instrumentos #violino > .sprite:hover{
        transform: scale(0.20) rotate(-24deg); 
    }
.instrumentos #contrabaixo > .sprite{ 
    top: 4%;
    left: 58%;
    transition: all .2s ease-in-out;
    transform: scale(0.11) rotate(-24deg);
 }
    .instrumentos #contrabaixo > .sprite:hover{
        transform: scale(0.20) rotate(-24deg); 
    }
.instrumentos #timpano > .sprite{ 
    top: 39%;
    left: -12%;
    transform: scale(0.11) rotate(-9deg);
}
    .instrumentos #timpano > .sprite:hover{
        transform: scale(0.20) rotate(-9deg); 
    }
.instrumentos #arpa > .sprite{ 
    top: 49%;
    left: 84%;
    transform: scale(0.5) rotate(-18deg);
}
    .instrumentos #arpa > .sprite:hover{
        transform: scale(0.9) rotate(-18deg); 
    }
.instrumentos #gongo > .sprite{ 
    top: -15%;
    left: -16%;
    transform: scale(0.13) rotate(0deg);
}
    .instrumentos #gongo > .sprite:hover{
        transform: scale(0.2) rotate(0deg); 
    }
.instrumentos #xylophone > .sprite{ 
    top: 7%;
    left: -39%;
    transform: scale(0.11) rotate(15deg);
}
    .instrumentos #xylophone > .sprite:hover{
        transform: scale(0.21) rotate(15deg); 
    }
.instrumentos #clarinete > .sprite{ 
    top: 9%;
    left: 10%;
    transform: scale(0.14) rotate(-51deg);
}
    .instrumentos #clarinete > .sprite:hover{
        transform: scale(0.24) rotate(-51deg); 
    }
.instrumentos #fagote > .sprite{ 
    top: 20%;
    left: 21%;
    transform: scale(0.17) rotate(85deg);
}
    .instrumentos #fagote > .sprite:hover{
        transform: scale(0.27) rotate(85deg); 
    }
.instrumentos #corneIngles > .sprite{ 
    top: -11%;
    left: -19%;
    transform: scale(0.11) rotate(-75deg);
}
    .instrumentos #corneIngles > .sprite:hover{
        transform: scale(0.21) rotate(-75deg); 
    }
.instrumentos #flautim > .sprite{ 
    top: 0%;
    left: -7%;
    transform: scale(0.12) rotate(-69deg);
}
    .instrumentos #flautim > .sprite:hover{
        transform: scale(0.22) rotate(-69deg); 
    }
.instrumentos #violoncello > .sprite{ 
    top: 3%;
    left: 47%;
    transition: all .2s ease-in-out;
    transform: scale(0.12) rotate(-17deg);
}
    .instrumentos #violoncello > .sprite:hover{
        transform: scale(0.22) rotate(-17deg); 
    }
.instrumentos #tuba > .sprite{ 
    top: -10%;
    left: -9%;
    transition: all .2s ease-in-out;
    transform: scale(0.14) rotate(-3deg);
}
    .instrumentos #tuba > .sprite:hover{
        transform: scale(0.24) rotate(-3deg); 
    }
.instrumentos #trompa > .sprite{ 
    top: -22%;
    left: -17%;
    transition: all .2s ease-in-out;
    transform: scale(0.12) rotate(159deg);
}
    .instrumentos #trompa > .sprite:hover{
        transform: scale(0.22) rotate(158deg); 
    }
.instrumentos #caixa > .sprite{ 
    top: 36%;
    left: -6%;
    transition: all .2s ease-in-out;
    transform: scale(0.09) rotate(-215deg);
}
    .instrumentos #caixa > .sprite:hover{
        transform: scale(0.19) rotate(-215deg); 
    }
.instrumentos #bombo > .sprite{ 
    top: 10%;
    left: -46%;
    transition: all .2s ease-in-out;
    transform: scale(0.1) rotate(0deg);
}
    .instrumentos #bombo > .sprite:hover{
        transform: scale(0.2) rotate(0deg); 
    }
.instrumentos #piano > .sprite{ 
    top: 7%;
    left: 53%;
    transition: all .2s ease-in-out;
    transform: scale(0.15) rotate(10deg);
}
    .instrumentos #piano > .sprite:hover{
        transform: scale(0.25) rotate(10deg); 
    }
.instrumentos #trombone > .sprite{ 
    top: 12%;
    left: -43%;
    transition: all .2s ease-in-out;
    transform: scale(0.15) rotate(125deg);
}
    .instrumentos #trombone > .sprite:hover{
        transform: scale(0.25) rotate(125deg); 
    }
.instrumentos #clarone > .sprite{ 
    top: 16%;
    left: -30%;
    transition: all .2s ease-in-out;
    transform: scale(0.1) rotate(0deg);
}
    .instrumentos #clarone > .sprite:hover{
        transform: scale(0.2) rotate(0deg); 
    }
.instrumentos #triangulo > .sprite{ 
    top: 16%;
    left: -30%;
    transition: all .2s ease-in-out;
    transform: scale(0.1) rotate(0deg);
}
    .instrumentos #triangulo > .sprite:hover{
        transform: scale(0.2) rotate(0deg); 
    }