
.instrumentos{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff; 
    top: 0;
    left: 0;
    background: url('../data/imgs/layout.png');
    background-size: 100% 100%;
}

.instrumentos > div{
    cursor: pointer; 
    overflow: hidden;
}
.instrumentos > .desc{
    position: absolute;
    top: 5%;
    left: 5%;
    background: #878787;
    opacity: 0.5;
    border-radius: 12px; 
    color: #fff;
    padding: 1em;
        -webkit-border-radius: 12px; 
        -moz-border-radius: 12px;   
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        -moz-opacity:0.5;
        -khtml-opacity: 0.5;
}
    .instrumentos > .desc > p{
        font-size: 18px;
        font-weight: bold;
        text-transform: capitalize;
    }
.sprite{ 
    width: auto;
    height: auto;
    position: absolute; 
}
.sprite > img{
    width: 100%;
    height: auto;
 }
.instrumentos #violino > .sprite{ 
    top: 19%;
    left: 7%;
    transition: all .2s ease-in-out;
    transform: scale(0.11) rotate(-24deg);
 }
    .instrumentos #violino > .sprite:hover{
        transform: scale(0.20) rotate(-24deg); 
    }
.instrumentos #contrabaixo > .sprite{ 
    top: 4%;
    left: 58%;
    transition: all .2s ease-in-out;
    transform: scale(0.11) rotate(-24deg);
 }
    .instrumentos #contrabaixo > .sprite:hover{
        transform: scale(0.20) rotate(-24deg); 
    }
.instrumentos #trompa > .sprite{ 
    top: -37%;
    left: 6%;
    transition: all .2s ease-in-out;
    transform: scale(0.11) rotate(109deg);
}
    .instrumentos #trompa > .sprite:hover{
        transform: scale(0.20) rotate(109deg); 
    }
.instrumentos #timpano > .sprite{ 
    top: 43%;
    left: -16%;
    transform: scale(0.11) rotate(-49deg);
}
    .instrumentos #timpano > .sprite:hover{
        transform: scale(0.20) rotate(-49deg); 
    }
.instrumentos #clarinete > .sprite{ 
    top: 7%;
    left: 39%;
    transform: scale(0.25) rotate(15deg);
}
    .instrumentos #clarinete > .sprite:hover{
        transform: scale(0.35) rotate(15deg); 
    }
.instrumentos #arpa > .sprite{ 
    top: 49%;
    left: 84%;
    transform: scale(0.5) rotate(-18deg);
}
    .instrumentos #arpa > .sprite:hover{
        transform: scale(0.9) rotate(-18deg); 
    }
.instrumentos #gongo > .sprite{ 
    top: -15%;
    left: -16%;
    transform: scale(0.13) rotate(0deg);
}
    .instrumentos #gongo > .sprite:hover{
        transform: scale(0.2) rotate(0deg); 
    }
.instrumentos #xylophone > .sprite{ 
    top: 3%;
    left: -38%;
    transform: scale(0.11) rotate(0deg);
}
    .instrumentos #xylophone > .sprite:hover{
        transform: scale(0.18) rotate(0deg); 
    }
.instrumentos #fagote > .sprite{ 
    top: -9%;
    left: 40%;
    transform: scale(0.18) rotate(5deg);
}
    .instrumentos #fagote > .sprite:hover{
        transform: scale(0.28) rotate(5deg); 
    }
.instrumentos #corneIngles > .sprite{ 
    top: -16%;
    left: 24%;
    transform: scale(0.15) rotate(-35deg);
}
    .instrumentos #corneIngles > .sprite:hover{
        transform: scale(0.25) rotate(-35deg); 
    }
.instrumentos #flautim > .sprite{ 
    top: -9%;
    left: 15%;
    transform: scale(0.12) rotate(7deg);
}
    .instrumentos #flautim > .sprite:hover{
        transform: scale(0.2) rotate(7deg); 
    }